{% extends 'base.html' %}

{% block title %}{{ image }}{% endblock %}

{% block content %}
<h1>{{ image.title }}</h1>

<!-- -------------- IMAGE PREVIEW ------------------ -->
<!--<img src="{ image.image.url }" class="image-detail">&lt;!&ndash; нельзя расширять картинку&ndash;&gt;-->

{% include '_inc/thumbnail_preview.html' %}<!-- можно расширять картинку-->
<!-- -------------- IMAGE PREVIEW ------------------ -->

<div class="image-info">
    <div>
        <span class="count">
            <span class="total">
                {{ total_likes }}
            </span> like{{ total_likes|pluralize }}
        </span>
        <a href="#" data-id="{{ image.id }}"
        data-action="{% if user in users_like %}un{% endif %}like"
        class="like button">
            {% if user in users_like %}
            Unlike
            {% else %}
            Like
            {% endif %}
        </a>
    </div>
    {{ image.description|linebreaks }}
</div>
<div class="image-likes">
    {% for u in users_like %}
    <div>
        {% if u.profile.photo %}
        <img src="{{ u.profile.photo.url }}">
        {% else %}
        <img src="/media/users/no_preview/No_Preview_image_2.png">
        {% endif %}
        <p>{{ u.username }}</p>
    </div>
    {% empty %}
    Nobody likes this image yet.
    {% endfor %}
</div>
{% endblock %}
<!----------------------------------block domready------------------------->
<!-- скрипт для лайков (редиректит на {# url 'images:like' #})
отправляет пост запрос на {# url 'images:like' #} с полями id=...&action=...
 прием это ajax запрос (в запрос добавляется специальный header) и request.is_ajax() == True -->
{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "images:like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
          // toggle link text
          $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}
<!----------------------------------endblock domready------------------------->