<div id="header">
    <span class="logo">
        bookmarks
    </span>
    {% with request.user as user %}

    {% if user.is_authenticated %}
    <ul class="menu">
        <li {% if action == "dashboard" %}class="selected"{% endif %}>
        <a href="{% url 'accounts:dashboard' %}">dashboard</a>
        </li>
        <li {% if action == "images" %}class="selected"{% endif %}>
        <a href="{% url 'images:list' %}">images</a>
        </li>
        <li {% if action == "people" %}class="selected"{% endif %}>
        <a href="{% url 'accounts:list_user' %}">people</a>
        </li>
    </ul>
    {% endif %}
    <span class="user">
        {% if user.is_authenticated %}
        Hello {{ user }}, &nbsp;|&nbsp;
        <a href="{% url 'accounts:password_change' %}">Change password</a>,&nbsp;
        <a href="{% url 'accounts:edit' %}">Edit your account</a>,&nbsp;
        <a href="{% url 'accounts:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'accounts:login' %}">Log-in</a>,&nbsp;
        <a href="{% url 'accounts:register' %}">Registration</a>

        {% endif %}
    </span>
    {% endwith %}
</div>